client/.*
*.dub
*.dll
*.iml
*.settings*
*build/*
*/build/*
.gradle*
local.properties
*.exe
dserver/dub.selections.json
dserver/certs
*.idea/*
*/.idea/*
/.idea
gradle/gradle/wrapper/gradle-wrapper.jar
gradle/gradle/wrapper/gradle-wrapper.properties
gradle/gradlew